@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import 'remixicon/fonts/remixicon.css';

.notebook {
  min-height:100vh;
  background: repeating-linear-gradient(
    white,
    white 28px,
    #d3d3d3 29px
  ); 
  width: 90%;
  margin: auto  ;
}

.gradient-left{
  background: linear-gradient(to right ,white,#ffffffd6,#ffffff78);
}

.gradient-right{
  background: linear-gradient(to left ,white,#ffffffd6,#ffffff78);
}


.indian-flower{
  font-family: "Indie Flower", cursive;
}

.noraml-font{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar{
  scrollbar-width: none;
}